<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="MultiType">
      </category>
      <view
            name="%view.name"
            icon="res/file.png"
            category="MultiType"
            class="multitype.views.FileList"
            id="multitype.views.FileList">
      </view>
      <view
            name="%view.name.0"
            icon="res/users.png"
            category="MultiType"
            class="multitype.views.UserList"
            id="multitype.views.UserList">
      </view>
      <view
            name="%view.name.1"
            icon="res/balloon.png"
            category="MultiType"
            class="multitype.views.ChatView"
            id="multitype.views.ChatView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="MultiType.perspective">
         <view
               closeable="false"
               id="multitype.views.FileList"
               minimized="false"
               moveable="false"
               ratio="0.83"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="multitype.views.UserList"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="bottom"
               relative="multitype.views.FileList"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="org.eclipse.jdt.ui.PackageExplorer"
               minimized="false"
               ratio="0.23"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="true"
               id="multitype.views.ChatView"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="bottom"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               ratio="0.8"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension 
   		point="org.eclipse.debug.ui.consoleLineTrackers">
  		<consoleLineTracker 
    		id="multitype.views.ConsoleManager"
     		class="multitype.views.ConsoleManager"
    	 	processType="java">
  		</consoleLineTracker>
	</extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSet.label"
            visible="true"
            id="MultiType.actionSet">
         <menu
               label="%menu.label"
               id="multitypeMenu">
            <separator
                  name="multitypeGroup">
            </separator>
         </menu>
         <action
               label="%action.label"
               icon="res/resync.png"
               class="multitype.actions.ResyncAction"
               menubarPath="multitypeMenu/multitypeGroup"
               id="multitype.actions.ResyncAction">
         </action>
         <action
               label="%action.label.0"
               icon="res/exit.png"
               class="multitype.actions.DisconnectAction"
               menubarPath="multitypeMenu/multitypeGroup"
               id="multitype.actions.DisconnectAction">
         </action>
         <action
               label="%action.label.1"
               icon="res/icon_b.png"
               class="multitype.actions.LoginWindowAction"
               tooltip="%action.tooltip"
               menubarPath="multitypeMenu/multitypeGroup"
               toolbarPath="multitypeGroup"
               id="multitype.actions.LoginWindowAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="multitype.command"
               disabledIcon="res/exit_b.png"
               icon="res/file.png"
               label="%command.label"
               style="push">
            </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="multitype.command.ShareFile"
            id="multitype.command"
            name="%command.name">
      </command>
   </extension>
   
   <!-- Cursor Markers -->
   <extension id="multitype.cursorMarker"
    	point="org.eclipse.core.resources.markers"
    	name="Cursor Marker">
        <super type="org.eclipse.core.resources.textmarker"/>
        <attribute name="user"/>
        <attribute name="uid"/>
        <attribute name="cursorPos"/>
        <persistent value="false"/>
	</extension>

	<!-- Changes the marker image in the editor marker bar -->
	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type markerType="multitype.cursorMarker"
		name="multitype.cursorMarkerAnnotation">
		</type>
	</extension>

	<!-- Sets Cursor Marker properties -->
	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="multitype.cursorMarkerAnnotation"
			icon="res/marker.png"
			
			textPreferenceKey="myAppIndication"
			textPreferenceValue="true"
			overviewRulerPreferenceKey="myAppIndicationInOverviewRuler"
			overviewRulerPreferenceValue="true"
			verticalRulerPreferenceKey="myAppIndicationInVerticalRuler"
			verticalRulerPreferenceValue="true"
			highlightPreferenceKey="myAppHighlighting"
			highlightPreferenceValue="false"
			colorPreferenceKey="myAppIndicationColor"
			colorPreferenceValue="216,159,43"
			presentationLayer="3"
			showInNextPrevDropdownToolbarAction="false"
			includeOnPreferencePage="true"
			
			isGoToPreviousNavigationTargetKey="ismyAppGoToPreviousNavigationTarget"
			label="myApp Issue Marker"
			
			showInNextPrevDropdownToolbarActionKey="showmyAppInNextPrevDropdownToolbarAction"
			
			isGoToNextNavigationTargetKey="ismyAppRecordGoToNextNavigationTarget"
		>
		</specification>
	</extension>
   
   <!-- MultiType Perspective -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="multitype.MultiTypePerspectiveFactory"
            icon="res/icon.png"
            id="MultiType.perspective"
            name="MultiType">
      </perspective>
   </extension>
	

</plugin>
