<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="MultiType"
            id="MultiType">
      </category>
      <view
            name="File List"
            icon="res/file.png"
            category="MultiType"
            class="multitype.views.FileList"
            id="multitype.views.FileList">
      </view>
      <view
            name="User List"
            icon="res/users.png"
            category="MultiType"
            class="multitype.views.UserList"
            id="multitype.views.UserList">
      </view>
      <view
            name="MultiType Chat"
            icon="res/balloon.png"
            category="MultiType"
            class="multitype.views.ChatView"
            id="multitype.views.ChatView">
      </view>
      <view
            name="View Driver (debug)"
            icon="icons/sample.gif"
            category="MultiType"
            class="multitype.views.ViewDriver"
            id="multitype.views.ViewDriver">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="multitype.views.FileList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension 
   		point="org.eclipse.debug.ui.consoleLineTrackers">
  		<consoleLineTracker 
    		id="multitype.views.ConsoleManager"
     		class="multitype.views.ConsoleManager"
    	 	processType="java">
  		</consoleLineTracker>
	</extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="MultiType Action Set"
            visible="true"
            id="MultiType.actionSet">
         <menu
               label="MultiType"
               id="multitypeMenu">
            <separator
                  name="multitypeGroup">
            </separator>
         </menu>
         <action
               label="Resync"
               icon="res/resync.png"
               class="multitype.actions.ResyncAction"
               menubarPath="multitypeMenu/multitypeGroup"
               id="multitype.actions.ResyncAction">
         </action>
         <action
               label="Disconnect"
               icon="res/exit.png"
               class="multitype.actions.DisconnectAction"
               menubarPath="multitypeMenu/multitypeGroup"
               id="multitype.actions.DisconnectAction">
         </action>
         <action
               label="Login"
               icon="res/icon_b.png"
               class="multitype.actions.LoginWindowAction"
               tooltip="MultiType Login"
               menubarPath="multitypeMenu/multitypeGroup"
               toolbarPath="multitypeGroup"
               id="multitype.actions.LoginWindowAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="multitype.command"
               disabledIcon="res/exit_b.png"
               icon="res/file.png"
               label="Share File"
               style="push">
            </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="multitype.command.ShareFile"
            id="multitype.command"
            name="Share">
      </command>
   </extension>
   <extension id="cursorMarker"
    	point="org.eclipse.core.resources.markers"
    	name="Cursor Marker">
        
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="true"/>
	</extension>
	

</plugin>
